<link href="{{ asset('/bundles/ewzformbuilder/css/doc.css') }}" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    if (!window.AppFormBuilder) {
        var AppFormBuilder = function () {
            function run() {
                for (pageLoaded = true; scripts.length;) scripts.shift()();
                scripts = null
            }
            var pageLoaded, scripts = [];
            if (window.attachEvent) attachEvent("unload", run);
            else window.addEventListener && addEventListener("load", run, true);
            return {
                onPageLoad: function (script) {
                    pageLoaded ? script() : scripts.push(script)
                }
            }
        }();
    }
</script>

{% javascripts '@EWZFormBuilderBundle/Resources/src-js/builder.js'
               '@EWZFormBuilderBundle/Resources/src-js/*.js'
               '@EWZFormBuilderBundle/Resources/src-js/types/*.js'
               filter='?yui_js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

<script id="formLineTmpl" type="text/html">
    <li id="<@=id@>" data-type="<@=type@>" class="form-line <@=style@>">
        <div class="form-line-inner">
            <@ if (label) { @><@=label@><@ } @>
            <div class="form-question-input">
                <@=html@>
                <@ if (error) { @>
                    <div class="form-error-message">
                        <@=error@>
                        <div class="form-error-arrow">
                            <div class="form-error-arrow-inner"></div>
                        </div>
                    </div>
                <@ } @>
                <@ if (description) { @>
                    <div class="form-description">
                        <div class="form-description-arrow"></div>
                        <div class="form-description-arrow-small"></div>
                        <div class="form-description-content"><@=description@></div>
                    </div>
                <@ } @>
            </div>
        </div>
        {% if preview is not defined or not preview %}
            <div class="form-button-container">
                <@ if (tools) { @>
                    <@ if (!reserve) { @>
                        <i class="form-tool-item required" title="{{ 'tool.required'|trans }}"></i>
                    <@ } @>
                    <i class="form-tool-item shrink" title="{{ 'tool.shrink'|trans }}"></i>
                    <i class="form-tool-item expand" title="{{ 'tool.expand'|trans }}"></i>
                    <i class="form-tool-item new-line" title="{{ 'tool.new_live'|trans }}"></i>
                    <i class="form-tool-item merge-line" title="{{ 'tool.merge_back'|trans }}"></i>
                <@ } @>
                <i class="form-tool-item gear" title="{{ 'tool.properties'|trans }}"></i>
                <@ if (allowDelete) { @>
                    <i class="form-tool-item cross " title="{{ 'tool.delete'|trans }}"></i>
                <@ } @>
            </div>
        {% endif %}
    </li>
</script>
