{% set builderId = 'builder_' ~ random() %}

<div id="{{ builderId }}">
    {% if form.getAttribute('injectCSS') %}
        <style type="text/css">{{ form.getAttribute('injectCSS') }}</style>
    {% endif %}

    {% if preview is not defined or not preview %}
        <div id="props-dialog-form" title="{{ 'dialog.properties'|trans }}"></div>
    {% endif %}

    <div id="form-{{ preview is defined and preview ? 'preview' : 'editor' }}">
        <ul class="form-list form-section clearfix"></ul>
    </div>
</div>

<script type="text/javascript">
    AppFormBuilder.onPageLoad(function () {
        // declare the form builder
        var {{ builderId }} = new FormBuilder('{{ builderId }}', '{% if preview is defined and preview %}{{ formView.vars.name }}{% endif %}');

        {% if allowManualFieldName is defined and allowManualFieldName %}
            {{ builderId }}.setAllowManualFieldName(true);
        {% endif %}

        {{ builderId }}.init({
            {% if form %}
                form: {
                    id: '{{ form.getId() }}',
                    title: '{{ form.getName()|default('form.default_name'|trans) }}',
                    pluralTitle: '{{ form.getPluralName()|default('') }}',
                    width: {{ form.getAttribute('width')|default(691) }},
                    labelWidth: {{ form.getAttribute('labelWidth')|default(150) }},
                    isDefault: '{{ form.isDefaultFlag() ? 'Yes' : 'No' }}',
                    isTable: '{{ form.isTableFlag() ? 'Yes' : 'No' }}'
                },
                fields: {
                    {% for field in form.getFields() %}
                        '{{ field.getName() }}': {{ field.getAttributes()|json_encode()|raw }},
                    {% endfor %}
                }
            {% endif %}
        }{% if preview is defined and preview %}, true{% endif %});

        currentBuilder = {{ builderId }};

        {% if preview is not defined or not preview %}
            {% if form %}
                {% for field in form.getFields() %}
                    $('.form-saved-type[data-name="{{ field.getName() }}"]').hide();
                {% endfor %}
            {% endif %}

            resetListRules();
        {% endif %}

        {# use this function to load additional settigns #}
        if (typeof _builderInit == 'function') _builderInit(currentBuilder);

        {% if preview is defined and preview %}
            handlePreview({{ builderId }});
        {% else %}
            handleEditor();
        {% endif %}
    });
</script>
