<div class="form-toolbar">
    <div class="loading">
        <img src="{{ asset('/bundles/ewzformbuilder/images/loading.gif') }}" /> {{ 'loading'|trans }}
    </div>

    <div id="accordion-actions">
        <div class="accordion-bar"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-properties" /><span>{{ 'form_title.properties'|trans }}</span></div>
        <div class="accordion-content">
            <div class="accordion-content-inner">
                <ul id="toolbox" class="tools properties-tools">
                    <li class="form-action-save" href="{{ path('ewz_form_builder_save_form') }}"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-save" /><span>{{ 'button.save'|trans }}</span></li>
                    <li class="form-action-info"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-info" /><span>{{ 'button.info'|trans }}</span></li>
                </ul>
            </div>
        </div>

        <div class="accordion-bar"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-tool_box" /><span>{{ 'form_title.form_tools'|trans }}</span></div>
        <div class="accordion-content">
            <div class="accordion-content-inner">
                <ul id="toolbox" class="tools tool_box-tools">
                    <li class="form-action-type" data-type="head"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-header" /><span>{{ 'form_type.head'|trans }}</span></li>
                    <li class="form-action-type" data-type="textbox"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-textbox" /><span>{{ 'form_type.textbox'|trans }}</span></li>
                    <li class="form-action-type" data-type="textarea"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-textarea" /><span>{{ 'form_type.textarea'|trans }}</span></li>
                    <li class="form-action-type" data-type="dropdown"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-dropdown" /><span>{{ 'form_type.dropdown'|trans }}</span></li>
                    <li class="form-action-type" data-type="radio"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-radio" /><span>{{ 'form_type.radio'|trans }}</span></li>
                    <li class="form-action-type" data-type="checkbox"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-checkbox" /><span>{{ 'form_type.checkbox'|trans }}</span></li>
                    <li class="divider"></li>
                    <li class="form-action-type" data-type="email"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-email" /><span>{{ 'form_type.email'|trans }}</span></li>
                    <li class="form-action-type" data-type="number"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-number" /><span>{{ 'form_type.number'|trans }}</span></li>
                    <li class="form-action-type" data-type="phone"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-phone" /><span>{{ 'form_type.phone'|trans }}</span></li>
                    <li class="form-action-type" data-type="birthday"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-birthday" /><span>{{ 'form_type.birthday'|trans }}</span></li>
                    <li class="divider"></li>
                    <li class="form-action-type" data-type="text"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-text" /><span>{{ 'form_type.text'|trans }}</span></li>
                </ul>
            </div>
        </div>

        <div class="accordion-bar"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-saved_tools" /><span>{{ 'form_title.saves_tools'|trans }}</span></div>
        <div class="accordion-content">
            <div class="accordion-content-inner">
                <ul id="toolbox" class="tools saved_tools-tools">
                    {% if fields|length %}
                        {% for field in fields %}
                            {% set option = field.getAttribute('text')|default(field.__toString()) %}
                            <li class="form-saved-type" data-name="{{ field.getName() }}" data-type="{{ field.getType() }}" data-prop="{{ field.getAttributes()|json_encode() }}"><img src="{{ asset('/bundles/ewzformbuilder/images/blank.gif') }}" class="controls-{{ field.getType() }}" /><span>{{ field.getType() == 'text' ? option|slice(0, 30) : option }}</span></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
	    </div>
    </div>
</div>
